{% extends 'layout.html' %} {% block content %}
<h1>Signup Form</h1>
<form action="/signup.html" method="POST" class="box">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
  <script src="../static/js/manager.js"></script>
  <div class="input__wrapper">
    <input
      type="text"
      name="username"
      placeholder="Username"
      class="input__field"
      id="username"
    />
  </div>
  <div class="input__wrapper">
    <input
      type="password"
      name="password"
      placeholder="Password"
      class="input__field"
      id="password"
    />
  </div>
  <div class="input__wrapper">
    <input
      type="dateOfBirth"
      name="dob"
      placeholder="Date of Birth"
      class="input__field"
      id="DOB"
    />
  </div>
  <div class="input__wrapper">
    <button type="submit" class="btn" id="btn">Submit</button>
  </div>
  <div>
    <p id="description_text"></p>
  </div>
</form>
{% endblock %}
